/* Write your CSS here */
.listItem {
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
  padding: 15px;
}
.image {
  height: 80px;
  width: 80px;
}
.appName {
  font-family: 'Bree Serif';
  font-size: 25px;
  font-weight: bold;
}
.button {
  color: #7b8794;
  font-family: 'bree serif';
  font-size: 20px;
  font-weight: bold;
  border-width: 0px;
  outline: none;
  margin-right: 12px;
}
.activeTab {
  border-bottom: 2px solid #2563eb;
  padding-bottom: 10px;
  color: #2563eb;
}
